# osx noise
*.DS_Store
*.AppleDouble

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

#vim temp files
*~

# Custom conf file for gist
gist/rawFile.conf
